doctype html
html(lang='pt-br')
  head
    title Rumo ao 10
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')

  body(class="body", style="min-width: 0;")
    h3.title Rabiscos Animados
    ul.sketches
      div.sketches__sketch
        p.sketches__sketch__subtitle DinoZauro #1
        include drawings/dinozauro/dinozauro
